h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
    color: rgb(104, 56, 56);
}

h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(57, 85, 180);
}